<!--Main layout-->
<div class="container">
    <!--Section: News of the day-->
   
    <!--Section: News of the day-->
  <section>
    <div>
    <!--   <h1>{{ title }} </h1>
    <h3>{{description}}</h3> -->
    </div>
  </section>
    <!--Section: Content-->
    <section>
      <div class="row gx-lg-5">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" *ngFor="let feed of feeds | paginate: { itemsPerPage: 3, currentPage: page, totalItems: Lenght }; let i = index;">
          <!-- News block -->
          <div>
            <!-- Featured image -->
            <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4"
              data-mdb-ripple-color="light">
              <img [src]="feed.imageUrl" [alt]="feed.title" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
  
            <!-- Article data -->
            <div class="row mb-3">
              <div class="col-6">
                <button  class="btn btn-success" data-bs-toggle="modal" [attr.data-bs-target]="'#modal'">
                  <i class="fas fa-plane"></i>
                  Modifier
                </button>
              </div>
  
              <div class="col-6 text-end">
                <u>  {{feed.pubDate}}</u>
              </div>
            </div>
  
            <!-- Article title and description -->
            <a [href]="feed.link" class="text-dark">
              <h5>{{feed.title}}</h5>
  
              <p>
                {{feed.description}}
              </p>
            </a>
  
            <hr />
           
          </div>
          <!-- News block -->
          <div class="modal fade" [id]="'modal'" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <form (ngSubmit)="onSubmitForm()">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier Titre et contenu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <input id="title" name="title" type="text" >
                    <textarea id="content" name="content" type="text" ></textarea>

                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">enregistrer</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>

                  </div>
                </div>
              </form>
            </div>
          </div>
        
        </div>
        

        
      </div>
    </section>
    <!--Section: Content-->
  
    <!-- Pagination -->
    <nav class="my-4" aria-label="...">
      <ul class="pagination pagination-circle justify-content-center">
        
        <li class="page-item">
          <a class="page-link" href="#">   
                 <pagination-controls (pageChange)="page = $event"></pagination-controls>
          </a>
        </li>
      </ul>

    </nav>

    
  </div>
  <!--Main layout-->