<!--Main layout-->
<div class="container">
    <!--Section: News of the day-->
   
    <!--Section: News of the day-->
  <section>
    <div>
    <!--   <h1>{{ title }} </h1>
    <h3>{{description}}</h3> -->
    </div>
  </section>
    <!--Section: Content-->
    <section>
      <div class="row gx-lg-5">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" *ngFor="let feed of feeds | paginate: { itemsPerPage: 3, currentPage: page, totalItems: Lenght }; let i = index;">
          <!-- News block -->
          <div>
            <!-- Featured image -->
            <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4"
              data-mdb-ripple-color="light">
              <img [src]="feed.imageUrl" [alt]="feed.title" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
  
            <!-- Article data -->
            <div class="row mb-3">
              <div class="col-6">
                <button  class="btn btn-success"(click)="openPopup()">
                  <i class="fas fa-plane"></i>
                  Modifier
                </button>
              </div>
  
              <div class="col-6 text-end">
                <u>  {{feed.pubDate}}</u>
              </div>
            </div>
  
            <!-- Article title and description -->
            <a [href]="feed.link" class="text-dark">
              <h5>{{feed.title}}</h5>
  
              <p>
                {{feed.description}}
              </p>
            </a>
  
            <hr />
           
          </div>
          <!-- News block -->
          
<div
class="modal"
tabindex="-1"
role="dialog"
[ngStyle]="{'display':displayStyle}">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Modifier Titre et extrait</h4>
    </div>
    <div class="modal-body">
    
               <form>
                <div class="form-group">
                  <label for="title" class="col-form-label">titre:</label>
                  <input type="text" class="form-control" id="title" name="title"  [(ngModel)]="feed.title">
                </div>
                <div class="form-group">
                  <label for="contenu" class="col-form-label">extrait:</label>
                  <textarea class="form-control" id="contenu" name="contenu" [(ngModel)]="feed.description"></textarea>
                </div>
              </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" 
              (click)="closePopup()">
        fermer
      </button>
      <button type="button" class="btn btn-primary" 
      (click)="closePopup()">
enregister
</button>
    </div>
  </div>
</div>
</div>
        </div>

        
      </div>
    </section>
    <!--Section: Content-->
  
    <!-- Pagination -->
    <nav class="my-4" aria-label="...">
      <ul class="pagination pagination-circle justify-content-center">
        
        <li class="page-item">
          <a class="page-link" href="#">   
                 <pagination-controls (pageChange)="page = $event"></pagination-controls>
          </a>
        </li>
      </ul>

    </nav>

    
  </div>
  <!--Main layout-->